$ago-indigoLight: rgb(226, 209, 238);
$ago-nice: rgb(255, 255, 255);
$ago-lightBlue: rgb(98, 148, 172);
$ago-lightLog: rgb(255, 255, 255);
$ago-greenLog: rgb(0, 142, 26);
$ago-orangeLight: rgb(255, 172, 56);
$ago-blueLIghtDark: rgba(38, 102, 103, 0.63);
$ago-blueLIght: rgba(214, 254, 255, 0.31);
$ago-indigoDark: rgb(26, 11, 36);
