.navbarBox {
  position: absolute;
  display: flex;
  top: 50%;
  left: 50%;
  transform: translate(-50%, -50%);
  align-items: center;
  justify-content: center; 
  overflow: hidden;
  width: 100%;
  height: 240px;
  .fa-hands-asl-interpreting {
    color: white;
    display: flex;
    justify-content: center;
    font-size: 2rem;
  }
  .dice20 {
    color: white;
    font-size: 2rem;
    opacity: 0; 
    margin-right: 30px;
    transition: opacity 0.5s ease-in-out, transform 0.7s ease-in-out; /* Transiciones de opacidad y transformación */
  }
  .dice6 {
    color: white;
    font-size: 2rem;
    opacity: 0;
    margin-right: 30px;
    transition: opacity 0.5s ease-in-out, transform 0.5s ease-in-out; /* Transiciones de opacidad y transformación */
  }
  
  .resetLife{
    color: white;
    font-size: 2rem;
    margin-left: 30px;
    opacity: 0;
    transition: opacity 0.5s ease-in-out, transform 0.5s ease-in-out; /* Transiciones de opacidad y transformación */
  }
  .resetLife20{
    color: white;
    position: absolute;
    font-size: 2rem;
    margin-left: 1.6rem;
    top: 40px;
    opacity: 0;
    transition: opacity 0.5s ease-in-out, transform 0.5s ease-in-out; /* Transiciones de opacidad y transformación */
  }
  .resetLife40{
    color: white;
    position: absolute;
    font-size: 2rem;
    margin-left: -2.5rem;
    bottom: 40px;
    opacity: 0;
    transition: opacity 0.5s ease-in-out, transform 0.5s ease-in-out; /* Transiciones de opacidad y transformación */
  }
  .playersAmount{
    color: white;
    font-size: 2rem;
    margin-left: 30px;
    opacity: 0;
    transition: opacity 0.5s ease-in-out, transform 0.7s ease-in-out; /* Transiciones de opacidad y transformación */
  }
}
