.playersBox{
  @include background-gradientGreen;
  transition: 0.3s ease-in-out;
  margin:0px;
  height: 50vh;
  padding: 5px;
  &-name{
    margin: 0px;
    &-img{
      width: 25vw;
      border-radius: 10px;
    }
    &-rotate{
      position: absolute;
      top: 0;
      right: 10px;
      font-size: 2rem;
      background-color: transparent;
      color: rgb(125, 125, 125)
      
    }
  }
}

.boxRed{
  @include background-gradientRed;
}
.boxGreen{
  @include background-gradientGreen;
}
.boxBlue{
  @include background-gradientBlue;
}


.playersBox-counter{

  &-add{
    display: flex;
    color: rgb(81, 81, 81);
    font-size: 2rem;
    justify-content: space-evenly;
    span{
    font-size: 4rem;

    }
    i {
      text-align: center;
      width: 100%;
      background-color: red;
      transition: background-color 1s;
    }

    i:hover {
      background-color: blue;
      transition: none;
    }
  }
  &-center{
    display: flex;
    justify-content: center;
    color: white;
    font-size: 6rem;
    margin: -40px 0px;
  }
}