.mainLoader {
  width: 200px;
  position: absolute;
  top: 30vh;
  left: 45vw;
  aspect-ratio: 1;
  display: grid;
  color: #854f1d;
  background: radial-gradient(farthest-side, currentColor calc(40% - 6px), rgba(0, 0, 0, 0) calc(40% - 5px) 0);
  -webkit-mask: radial-gradient(farthest-side, rgba(0, 0, 0, 0) calc(40% - 13px), #000 calc(40% - 12px));
  border-radius: 50%;
  animation: l19 2s infinite linear;
}

.mainLoader::before,
.mainLoader::after {
  content: "";
  grid-area: 1/1;
  background: linear-gradient(currentColor 0 0) center, linear-gradient(currentColor 0 0) center;
  background-size: 100% 10px, 10px 100%;
  background-repeat: no-repeat;
}

.mainLoader::after {
  transform: rotate(45deg);
}

@keyframes l19 {
  100% {
    transform: rotate(1turn);
  }
}
.mainLoader2 {
  width: 200px;
  position: absolute;
  top: 30vh;
  left: 45vw;
  aspect-ratio: 1;
  display: grid;
  color: #854f1d;
  background: radial-gradient(farthest-side, currentColor calc(60% - 6px), rgba(0, 0, 0, 0) calc(60% - 5px) 0);
  -webkit-mask: radial-gradient(farthest-side, rgba(0, 0, 0, 0) calc(60% - 13px), #000 calc(60% - 12px));
  border-radius: 50%;
  animation: l19 3s infinite linear;
}

.mainLoader2::before,
.mainLoader2::after {
  content: "";
  grid-area: 1/1;
  background: linear-gradient(currentColor 0 0) center, linear-gradient(currentColor 0 0) center;
  background-size: 100% 10px, 10px 100%;
  background-repeat: no-repeat;
}

.mainLoader2::after {
  transform: rotate(45deg);
}

@keyframes l19 {
  100% {
    transform: rotate(1turn);
  }
}
.ba {
  background-color: blue;
}

body {
  font-family: var(--font-family);
  background-color: rgb(255, 255, 255);
}

* {
  margin: 0;
  padding: 0;
}

li {
  list-style: none;
}

a {
  text-decoration: none;
}

.playersBox {
  background-image: radial-gradient(circle at center, black, black, black, black, rgb(30, 255, 0));
  border: 1px solid rgb(30, 255, 0);
  transition: 0.3s ease-in-out;
  margin: 0px;
  height: 50vh;
  padding: 5px;
}
.playersBox-name {
  margin: 0px;
}
.playersBox-name-img {
  width: 25vw;
  border-radius: 10px;
}
.playersBox-name-rotate {
  position: absolute;
  top: 0;
  right: 10px;
  font-size: 2rem;
  background-color: transparent;
  color: rgb(125, 125, 125);
}

.boxRed {
  background-image: radial-gradient(circle at center, black, black, black, black, rgb(255, 0, 0));
  border: 1px solid rgb(255, 0, 0);
}

.boxGreen {
  background-image: radial-gradient(circle at center, black, black, black, black, rgb(30, 255, 0));
  border: 1px solid rgb(30, 255, 0);
}

.boxBlue {
  background-image: radial-gradient(circle at center, black, black, black, black, rgb(0, 89, 255));
  border: 1px solid rgb(0, 89, 255);
}

.playersBox-counter-add {
  display: flex;
  color: rgb(255, 255, 255);
  opacity: 0.9;
  font-size: 1rem;
  justify-content: space-evenly;
}
.playersBox-counter-add span {
  font-size: 3rem;
}
.playersBox-counter-add i {
  opacity: 0.2;
  text-align: center;
  width: 100%;
  padding: 20px 0px;
  transition: 1s ease-in-out;
}
.playersBox-counter-add i:hover {
  opacity: 0.6;
  transition: none;
}
.playersBox-counter-center {
  display: flex;
  justify-content: center;
  color: white;
  font-size: 6rem;
  margin: -80px 0px;
  z-index: -2;
}

.playersBox-aditional-poison {
  display: flex;
  text-align: center;
  align-items: center;
  color: rgb(68, 255, 68);
  gap: 10px;
  margin-left: 20px;
  margin-top: 40px;
}

.player-dead {
  display: flex;
  justify-content: center;
  align-items: center;
  color: red;
  font-size: 10rem;
}/*# sourceMappingURL=main.css.map */